<p style="color: green"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Pictures</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture | %>
      <tr>
        <%# <td><%= image_tag(picture.image_url ) %></td> %>
        <td><%= picture.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

